body { 	font: 16px/1.5 "microsoft yahei", Helvetica, Tahoma, Arial, "Microsoft jhengHei", sans-serif;	color:#333; background-color:#fff;}
body,p,pre,blockquote,
h1,h2,h3,h4,h5,h6,
dl,dt,dd,ul,ol,li,
form,fieldset,legend,select,
input,textarea,button,
table,caption,tr,th,td {margin:0;	padding:0;}
* {margin:0;	padding:0;}

ol,ul {	list-style:none;}
fieldset,img {	border:0 none;}
img { max-width: 100%;}
a { color: #444;	text-decoration:none;}
a:hover{ 	text-decoration:none;}
input,button,textarea,select,option { font-family:inherit; font-size:100%;	outline: 0; border-radius: 3px;}
textarea {	overflow: auto;	resize: none;}

/* 公共独立类名 */
.hidden {	display: none!important;}
.block {	display: block;}
.mod {	margin-bottom: 10px;	border: 1px solid #ebebeb;}
.pillar {	display: inline-block;	width: 0;	height: 100%;	vertical-align: middle;}
.ellipsis,.ellipsis li {	overflow: hidden;	text-overflow: ellipsis;	white-space: nowrap;}
.c { clear:both;  }
p { text-indent: 0;}

/*input */

input,select,textarea{ border:1px solid #dcdcdc; vertical-align:middle;}
input { padding-left: 3px; height: 18px }

input[type='text'] { color:#666; height:26px; line-height:26px;   }
input[type='password'] { color:#666; height:26px; line-height:26px;  }
input[type='radio'] {  border:0; margin:0 5px 0 0; vertical-align: middle }
input[type='checkbox'] { border:0; margin:0 5px 0 0; }
input[type='submit'] { color:#fff; background:#5CB424; border:0; height:26px; padding:0 15px; font-weight:bold; font-size:12px;}
input[type='file'] { border:0; padding:5px 5px 5px 0; }
select { height:24px; line-height:24px; }

.btn{background:#d9d9d9;border-width:1px;vertical-align:middle;height:21px;padding-left:0.15em;padding-right:0.15em;border: 1px solid; border-color: #c0c0c0 #555 #555 #c0c0c0;}

/* 按钮 */
.btn {
    display: inline-block;
    margin: 0 0 5px;
    padding: 6px 16px;
    line-height: 22px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
	background-color: #5CB424;
    transition: opacity 0.2s ease-in-out 0s;
}
.btn:hover {
	text-decoration: none;
	background-color: #24B927;
}
.btn-small {
	padding: 3px 12px;
	font-size: 14px;
}
.btn-mini {
	padding: 1px 8px;
	font-size: 14px;
}
.c { clear:both }
.wrap {width: 1000px;margin: 0 auto; }

.fl { float:left; }
.fr { float:right; }

.cls:before { clear:both; content:"."; display:block;height:0;visibility:hidden; width: 100%;}
.cls:after { clear:both; content:"."; display:block;height:0;visibility:hidden; width: 100%;}

body { background: #f5f5f5;}

.page { width: 100%; position: relative; }

/* header */

.header { width: 100%;  padding:0;  overflow: hidden; background: #fff }
.header .logo { width: 100%; overflow: hidden;  height: 14rem; }
.header .logo img { min-width: 100%; min-height: 14rem; }
 
.copyright { text-align: center; padding-bottom: 7rem;}
.copyright { padding-top: 2rem; }
.copyright p { font-size: 0.75rem; }


.footer { position: fixed; bottom: 0; left: 0; width: 100%; text-align: center; background: #fff;  
 border-top: 1px solid #eee; display: none; }

.navbar { width: 100% }
.navbar li { display: inline-block; padding:0.5rem 1rem;   width: 30%;}
.navbar li a { color: #555; }


/* nav */

.nav { 
    background-color: #fff;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%; 
    height: 70px;
    padding: 8px 0 2px 0;
    z-index: 1000;
    border-top:1px solid #f2f2f2;

 }
.nav ul { width: 98%; margin:0 auto; text-align: center;}
.nav ul li { display: inline-block; width: 18%; margin:0 2%;  color: #aaa; text-align: center; padding-bottom: 1rem; min-height: 5rem; }
.nav ul li i { display: block; font-size: 1rem; line-height:2rem; width:2rem; height: 2rem; border:1px solid #aaa; border-radius: 50%; margin:0 auto; }
.nav ul li a { color: #aaa; font-size: 0.75rem; }



/* index main */
.box { background: #fff;  }
.box .hd { padding: 1.25rem 0; text-indent: 1rem;  position: relative;   }
.box .hd h1 { font-size: 1.25rem; font-weight: normal; text-align: center; text-indent: 0; padding: 0; padding-top:1rem; }
.box .hd h3 { font-size: 1rem; font-weight: normal; text-align: center; text-indent: 0; padding: 0; background: url(http://ofn8u9rp0.bkt.clouddn.com/m-title-bg1.svg) no-repeat center center; }
.box .bd { padding:1rem;}

p { font-size: 0.75rem; }

#pro-info  .hd h2 { font-size: 1.25rem; font-weight: normal; text-align: left; text-indent:1rem;  padding: 0; padding-bottom: 0.25rem; }
#pro-info  .hd p  { font-size: 0.75rem; color: #aaa; font-weight: normal; text-align: left; text-indent:1rem; padding: 0;  }
#pro-info .hd { position: relative; }
#pro-info .hd .indtell {
    position: absolute;
    top:22px;
    right: 32px;
    width: 2rem;
    height: 2rem;
}
#pro-info .hd .indtell img {
    width:100%;
}
#pro-info .bd p {
    padding-bottom: 1rem;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0.5rem;
    font-size:0.75rem;
}

.line10 { height: 10px; background: #f5f5f5; width:100%; line-height: 0; font-size: 0; clear: both;  }
.line6 { height: 6px; background: #f5f5f5; width:100%; line-height: 0; font-size: 0; clear: both;  }
.more { 
    text-align: center; 
    padding-bottom: 2rem;
 }
 .more a {
    font-size: 0.75rem;
 }

.datable {}
.datable td,.datable th { padding:0.2rem 0.5rem 0.2rem 0; font-size: 0.75rem; font-weight: normal; }
.datit {
    color: #aaa; 
}
.datable td {
}

.iconbox {
    background: #fff;
    border-top:1px solid #f2f2f2;
    text-align: center;
    padding: 1rem 0;
    height: 4rem;
}
.iconbox a {
    width:30%;
    display: inline-block;
    vertical-align: middle;
    line-height: 2rem;
}
.iconbox img {
    width: 1.25rem;
    vertical-align: middle;
}
.iconbox span {
    line-height: 2rem;
    vertical-align: middle;
    padding-left: 0.5rem;
    font-size:1rem;
    color: #888;
}

.jdtable { }
.jdtable td { padding:0.25rem;}
.jddate { text-align: right; }
.jddate strong { font-size: 0.875rem; }
.jddate span {font-size: 0.75rem;}
.jdpictd {}
.jdpic {  width:auto; height: 8rem; overflow: hidden;   }
.jdpic img { min-height:8rem; max-height: 8rem;}
.jdtxt {  padding: 0.5rem 0;  }


.itrp { text-align: left;}
.itrp li { display: inline-block; width: 48%; padding: 5px 0;  text-align: center; }
.itrp li .pic { width: 90%; box-shadow: 0 0 2px #ccc; text-align: center; margin:0 5%  0.5rem; }
.itrp li img { height: 10rem; width: 100%;   }
.itrp li p { font-size: 0.75rem; text-decoration: none; text-align: center; }


/* btnbox2 */

.btnbox2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background: #fff;
    border-top:1px solid #f2f2f2;
}
.btnbox2 a {
    display: inline-block;
    width: 20%;
    margin:0 5%;

}



/* 防伪 */
.fwbox {
    text-align: center;
    padding: 20px 0;

}
.fwbox input {
    height: 36px;
    line-height: 36px;
    width: 65%;
    margin-right: 4px;
    font-size: 0.875rem;
    color: #555;
}
.fwbox button {
    background: #5AAD32; 
    color: #fff;
    padding:0px 15px;
    border:0;
    line-height: 1rem;
    height: 36px;
    font-size: 0.875rem;
}


/* fwwrap */

#fwwrap {

}
#fwwrap .hd {
    text-align: center;
    padding: 1rem 0;
    font-size:1.25rem;
}
#fwcon {
}
#fwcon .bdhead {
}
#fwcon .bdhead p {
    font-size:0.75rem;
    text-indent: 2rem;
    margin-bottom: 0.5rem;
}
#fwcon .bdhead h4 {
    text-align: center;
}
#fwcon .jgbox {
    border:4px solid #eee;
    padding: 1rem;
    margin:1rem 5%;
    width:90%;
}
#fwcon .jgbox p {
    font-size: 1rem;
    line-height: 150%;
}
#fwcon .jgbox  .line{
    border-top:1px dashed #ddd;
    height: 1rem;
    margin-bottom: 1rem;

}
.jgpro {
    font-size: 1rem;
}
.jga p {
        color: #5BB522;
}
.jgb p {
        color: red
}
#fwwrap .fd {
    text-align: center;
    padding: 2rem;
    font-size:0.875rem;
}

/*  */

.cominfo dt { width: 5rem; display: inline-block; font-size: 0.875rem; }
.cominfo dd { display: inline; font-size: 0.875rem; }

.contact { font-size: 0.875rem; }


.hd i { position: absolute; top:0; right:1rem; line-height: 2rem;}
.renzhenglist {   }
.renzhenglist img { width:46%; height: 8rem;  margin:1.5%; }

.albumlist {}
.albumlist li { width: 30%; display: inline-block; overflow: hidden; margin:0 1% 0.5rem 1%; }
.albumlist li .pic { width: 100%; height: 5rem;  overflow: hidden; margin-bottom: 0.25rem; }
.albumlist li img { width: 100%; min-height: 5rem;}
.albumlist li p { text-align: center; display: block; width: 100%; overflow: hidden; height: 1.3em; }

.sub-header {   height: 3rem; color: #fff; width: 100%; background: #5CB424; display: none; }
.sub-header .btn-back { position: absolute; left: 1rem; top:0; line-height: 3rem; width: 3rem; font-size: 1.75rem; }
.sub-header a { color: #fff; }
.sub-header h1 { width: 60%; margin:0 20%; font-size:1rem; text-align: center; line-height: 3rem; }


.content { padding: 1rem 0.5rem;   background: #fff; text-transform:capitalize;}
.content p { line-height: 1.5rem; margin-bottom: 1.5rem; text-transform:capitalize;}
.content img { width: 100%; margin:0 auto;}

.feed-contain {}
.feed-contain input { height: 2rem; padding: 5px;}
.feed-contain textarea {  padding: 5px;}
#tellnum { width: 100%; }
#sendyzm { width: 40%; height: 2rem; background: #f2f2f2;  }
#codeyz { }
#tijiao { width: 100%; height: 2rem; line-height: 2rem; }

.feedlist {}
.feedlist li { padding: 0.75rem 0; border-bottom: 1px dashed #ddd;}
.feedlist li h4 { font-size: 0.875rem;  font-weight: normal; padding:0.25rem 0; background: url(http://ofn8u9rp0.bkt.clouddn.com/m-icon-tx.svg) no-repeat; text-indent: 1.6rem; background-size:1.25rem; }
.feedlist li h4 span { color: #999; font-size: 0.75rem;}
.feedlist li .fcon { padding: 0.5rem 0; font-size: 0.875rem; }


/* 投入品 */

.trplist { }
.trplist li { width: 46%; display: inline-block; overflow: hidden; margin:0 1% 0.5rem 1%; }
.trplist li .pic { width: 100%; height: 7rem;  overflow: hidden; margin-bottom: 0.25rem; }
.trplist li img { width: 100%; min-height: 7rem;}
.trplist li p { text-align: center; font-size:0.875rem; }


.content-trp {}
.content-trp h1 { text-align: center; font-size: 1.25rem;  padding-bottom: 0.75rem; }
.content-trp .conpic { text-align: center; width: 100%; }
.content-trp .conpic img { width: 86%; margin:0 auto;}
.content-trp .trpinfo { padding: 0.5rem 0; }
.content-trp .trpinfo li { font-size: 0.875rem; padding: 0.25rem;}
.content-trp h3 { font-size: 1rem; padding: 0.5rem 0; }
.content-trp p { margin-bottom: 0.25rem;}

/* 日志 */

.loglist {}
.loglist li { 
    padding: 0.5rem 0;
    margin-left: 0.25rem;
    border-left:1px solid #ddd;
}
.loglist li .logdate { 
    font-size:0.875rem; 
    margin-bottom: 0.5rem; 
    margin-left:-0.45rem;
    text-indent: 1.25rem;
    background: url(http://ofn8u9rp0.bkt.clouddn.com/dot-green.svg) no-repeat 0 5px;

}

.logbox {
    background: #fafafa;
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-left: 1rem;
}
.logboxtop {
    color: #aaa;
    font-size:0.75rem;
    padding-bottom: 0.5rem;
}
.logboxcon {

}
.logboxfoot {

}

.loglist li span.pic { 
    width: 32%;  
    display: inline-block; 
    height: 6rem; 
    overflow: hidden; 
}
.loglist li span.pic img { 
    width: 100%; 
    min-height: 6rem; 
}
.loglist li p.lcon {  
    padding: 0.5rem 0; 
    font-size: 0.875rem; 
    color: #444; }
.loglist li span.tagp { 
    display: inline-block; 
    background: #e00; 
    color: #fff; 
    padding:0 0.4rem; 
    border-radius: 0.25rem; 
    margin-right: 0.5rem; 
    font-size: 0.75rem;
}

@media screen and (min-device-width: 768px) {
    .page { width: 480px; margin:0 auto; background: #f1f1f1; }

}




